<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Маша и медвеь</title>
</head>
<body>
    <h1>Маша и медведь</h1>
    <img src="../img/2_Masha.jpg"> 
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus maiores magni unde tempore repellendus, nisi aperiam dolore hic, possimus quidem, est corrupti quos. Fugiat molestias similique cupiditate odit! Aliquam, amet.</p>
    <a href="../index.html">Home Page</a>
    <a href="page3.html">Рукавичка</a>
</body>
</html>